@import "tailwindcss";

@font-face {
  font-family: "GoogleSansFlex";
  src: url("./assets/fonts/google_sans_flex.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "GoogleSansFlex", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
